// Solid Colors
$black: #000;
$white: #fff;
$danger: #B00020;
$lightGray: #bfbfbf;

// CARD COLORS
$vermilion: #E43D12;
$ruber: #D6536D;
$amaranthPink: #FFA2B6;
$orangeYellow: #EFB11D;
$platinum: #EBE9E1;
$candyPink: #E7717D;
$lavenderGray: #C2CAD0;
$blackShadows: #C2B9B0;
$pastelBrown: #7E685A;
$middleGreenYellow: #AFD275;

$chineseBlack: #141619;
$gunmetal: #2C2E3A;
$cetaceanBlue: #050A44;
$philippineSilver: #B3B4BD;
$denimBlue: #273DB4;
$bostonUniversityRed: #C50900;
$brilliantRose: #F95CA4;
$mandarin: #ED7845;