@import "./mediaQueries";
@import "./colors";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@mixin FlexCenterXY {
    display: flex;
    justify-content: center;
    align-items: center;
}

$fontFamily: 'Nunito', sans-serif;

body {
    background-color: $japaneseIndigo;
}

.container {
    margin: 0 auto;
    width: 100vw;
    max-width: 100%;
    padding: 0rem 4vw;
    margin-top: 2rem;
    font-family: $fontFamily;
}

@mixin TitleFontStyles {
    color: $white;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-shadow: 0.3px 0.3px 5px $pastelBrown;

}

@mixin ContentFontStyles {
    color: $white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-shadow: 0.3px 0.3px 5px $pastelBrown;

}