@import "./colors";
@import "./main.scss";

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: $black30;
    @include FlexCenterXY;

    .modalPopup {
        width: 80%;
        background-color: $white;
        
        @include MediaQueryLG {
            width: 70%;
        }
        
        @include MediaQueryXL {
            width: 50%;
        }

        .modalHeader {
            border-bottom: 1px solid $lightGray;
            padding: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
            font-family: $fontFamily;

            .closeModal {
                color: $black;
                cursor: pointer;
                
                svg {
                    font-size: 1.8rem;
                }
            }
        }

        .modalBody {
            padding: 1.2rem;
        }

    }
}

