@import "./colors";

.no-data {
    text-align: center;
    font-size: 1.5rem;
    color: $black;
    padding: 2rem;
    margin-top: 1rem;
    border: 1px solid $lightGray;
    border-radius: 0.5rem;
    background-color: $white;
}
